/* You can add global styles to this file, and also import other style files */

body {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #0d1d3a, #1a2f55 52%, #365a83);
    color: #fff;
}